<ion-view view-title="Cajas" class="fondo">
  <ion-content class="padding has-header">
    <div class="row" ng-show="counprod === 0 ">
      <div class="col card">
        aqui aparecera sus cajas
      </div>
    </div>
    <div class="row">
      <div class="col col-center">
       <div class="row responsive-sm alinear" >
          <div class="col col-25" ng-repeat="caja in payioCajas.data">
            <div class="list panel-body widget md-whiteframe-z2">
            <div class="item item-avatar">
              <img src="img/favicon.png">
              <h2>{{caja.nombre}}</h2>
              <p>{{caja.fechaIni}}</p>
            </div>
              <div class="item item-body">
                <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
                  <tr ng-repeat="items in payioVentas.ventas | limitTo: query.limit: (query.page -1) * query.limit">
                    <td title="'item'" >
                        {{items.item}}</td>
                    <td title="'costo'">
                      {{items.costo.value | currency}}</td>
                  </tr>
                </table>
                <button class="button button-full button icon-right ion-chevron-right button-calm">
                  Ver mas
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

