<ion-view view-title="Inventario" class="fondo">
  <ion-content class="inventario padding has-header">
    <div class="row" >
  	 <div class="col">
      <div class="list widget md-whiteframe-z2 ">
        <div class="item item-avatar item-button-right">
           <img src="img/favicon.png">
          <h2>Marty McFly</h2>
          <p>November 05, 1955</p>
          <a class="button button-positive" href="#/app/inventario/:agregarModalId">
            <i class="icon ion-ios-telephone"></i>
          </a>
        </div>
        <div class="item item-body">
          <div class="row" ng-show="counprod === 0 ">
            <div class="col card barra">
               aqui aparecera sus productos
            </div>
          </div>
  		    <table ng-table="datosTabla" class="table table-condensed table-bordered table-striped" >
            <tr  ng-repeat="producto in dataVentas" >
              <td title="'Nombre'" sortable="'nombre'">
              {{producto.nombre}}
            </td>
            <td title="'Cantidad'" sortable="'cantidad1 && cantidad'">
              {{producto.cantidad}} {{producto.cantidad1}}
            </td>
            <td title="'Existencia'" sortable="'existencia'">
              <span class="existencia" ng-class="{'existencia-paquete' : producto.existencia === 'Por Paquete' , 'existencia-pedido' : producto.existencia === 'Por Pedido' , 'existencia-existencia' : producto.existencia === 'Existencia'}">
              {{producto.existencia}}
              </span>
              </td>
              <td title="'Descuento'" sortable="'descuento'">
                {{producto.descuento}}%
              </td>
              <td title="'costo'" sortable="'costo'">
                {{producto.precio | currency: "Bs"}}
              </td>
              <td title="'eliminar'">
              <span>
                <button ng-click="elimprod(producto)" class="button button-positive">
                  <i class="ion-ios-trash"></i>
                </button>
              </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>